.inputContainer {
  display: block;
  width: 100%;
  margin-bottom: 10px;

  .input{
    position: relative;
    border: 1px solid #c9cccf;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    color: #516c7e;
    width: 100%;
  }
}

.error {
  color: red;
  .input{
    border-color: red !important;
  }
}
