button{
  background-color: #333;
  color: white;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.3s;

  &:hover{
    color: #333;
    background-color: transparent;
  }
}