.nav{
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin-bottom: 30px;
  a{
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    width: fit-content;
    background-color: white;
    margin-right: 15px;
    border: 1px solid white;
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px;

    &:hover{
      background-color: #333;
      color: white;
    }
  }
}

.container{
  display: block;
  max-width: 1250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}