.table-responsive{
  width: 100%;
  overflow-x: scroll;
  table{
    width: 100%;
    border: 1px solid #eee;
    border-collapse: unset;
    border-spacing: 0;
    thead{
      background-color: #eee;
    }

    td{
      border: 1px solid #eee;
      padding: 10px;

      button{
        width: 100%;
      }
    }
  }
}