.contentpage{
  border: 1px solid #222;
  padding-bottom: 30px;
  padding-top: 20px;
}

.container{
  display: block;
  max-width: 1250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}